* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400; /* Ovo osigurava da koristi Regular */
  background-color: white;
  color: #111;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default border on images */
img {
  max-width: 100%;
  display: block;
  border-style: none;
}

/* Anchor defaults */
a {
  text-decoration: none;
  color: inherit;
}

/* Make buttons inherit font and remove default border */
button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

/* ========================================================== */

.image-container {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
  max-height: 100vh;
  overflow: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative; /* Dodajemo */
  z-index: 0; /* Normalna vrednost */
}
