* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: "Space Grotesk", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 400; /* Ovo osigurava da koristi Regular */
  background-color: white;
  color: #111;
}

/* Remove default padding */
ul,
ol {
  padding: 0;
}

/* Remove default border on images */
img {
  max-width: 100%;
  display: block;
  border-style: none;
}

/* Anchor defaults */
a {
  text-decoration: none;
  color: inherit;
}

/* Make buttons inherit font and remove default border */
button {
  font: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

/* ========================================================== */

@font-face {
  font-family: "MyCustomFont";
  src: url("/DIRTYHEADLINE.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "MyCustomFont", sans-serif;
}

/* ========================================================== */

.image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-height: -webkit-fill-available;
  overflow: hidden;
}

/* STIL ZA DESKTOP/TABLET (Fokus na desnu stranu) */
.background-image.desktop-bg {
  width: auto; /* Omogućava prilagodljivu širinu */
  height: 100%; /* Popuni visinu ekrana */
  object-fit: cover; /* Pokriva prostor bez deformacije */
  object-position: right; /* GARANCIJA: Desna strana NIKAD se ne seče */
  position: absolute;
  top: 0;
  right: 0; /* Poravnaj sliku u desno */
  z-index: 0;
  min-width: 100%; /* Ako slika nije dovoljno široka, razvuče se */
}

/* STIL ZA MOBILNE (Centrirana slika) */
.background-image.mobile-bg {
  width: 100%; /* Popuni širinu ekrana */
  height: 100%; /* Popuni visinu ekrana */
  object-fit: cover; /* Pokriva prostor bez belih mesta */
  object-position: center; /* Centriraj sliku */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.pica {
  position: absolute;
  right: 0;
  top: 20%;
  scale: 0.95;
}

@keyframes rotateInfinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotate {
  animation: rotateInfinite 60s linear infinite;
}

.cvetici {
  position: absolute;
  right: 0;
  height: 100vh;
}

@media (max-width: 768px) {
  /* .image-container {
    overflow-x: hidden;
    overflow-y: visible;
  } */
  body,
  html {
    overflow: hidden;
    width: 100%;
  }

  .pica {
    display: none;
  }
  .cvetici {
    display: none;
  }
}
