/* Osnovni stilovi */
.text-container {
  position: absolute;
  top: 0;
  left: 14%;
  width: 25rem;
  height: 46rem;
  background-color: rgba(255, 255, 255, 0.2);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.text-blocks-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 5rem;
}

.text-block {
  /* margin-bottom: 5rem; */
  line-height: 0.8;
}

.text-line {
  font-size: 3.3rem;
}

.yellow-text {
  color: #fbca0c;
}

.blue-text {
  color: #00ccff;
  transition: color 0.3s ease;
}

.blue-text:hover {
  color: #3976f3;
}

/* Specifični stilovi za blokove */
.first-block .text-line:first-child {
  font-size: 3.3rem;
}

.first-block .yellow-text {
  font-size: 5.75rem;
  margin-top: 10px;
}

.second-block .text-line:first-child {
  font-size: 3.05rem;
}

.second-block .yellow-text {
  font-size: 4.77rem;
  margin-top: 10px;
}

.third-block .text-line:first-child {
  font-size: 4.3rem;
}

.third-block .blue-text {
  font-size: 7.1rem;
  margin: 10px 0;
}

.third-block .text-line:last-child {
  font-size: 3.2rem;
}

.wolt {
  display: block;
}

/* Media upiti za responzivnost */
@media (max-width: 768px) {
  .text-container {
    left: 0;
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: transparent;
    margin-top: 8rem;
  }

  .text-blocks-wrapper {
    gap: 3rem;
  }

  .first-block .text-line:first-child {
    font-size: 2rem;
  }

  .first-block .yellow-text {
    font-size: 3.5rem;
    margin-top: 10px;
  }

  .second-block .text-line:first-child {
    font-size: 2.2rem;
  }

  .second-block .yellow-text {
    font-size: 2.9rem;
    margin-top: 10px;
  }

  .third-block .text-line:first-child {
    font-size: 3rem;
  }

  .third-block .blue-text {
    font-size: 5.5rem;
    margin: 10px 0;
  }

  .third-block .text-line:last-child {
    font-size: 2.5rem;
  }
}

/* ================================ */

@media (max-width: 400px) {
  .text-container {
    left: 0;
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: transparent;
    margin-top: 5.5rem;
  }

  .text-blocks-wrapper {
    gap: 3.5rem;
  }

  .text-block {
    margin-bottom: -2rem;
  }

  .first-block .text-line:first-child {
    font-size: 1.5rem;
  }

  .first-block .yellow-text {
    font-size: 2.6rem;
    margin-top: 10px;
  }

  .second-block .text-line:first-child {
    font-size: 1.5rem;
  }

  .second-block .yellow-text {
    font-size: 2.1rem;
    margin-top: 10px;
  }

  .third-block .text-line:first-child {
    font-size: 1.5rem;
  }

  .third-block .blue-text {
    font-size: 3.5rem;
    margin: 10px 0;
  }

  .third-block .text-line:last-child {
    font-size: 1.55rem;
  }

  .image-button {
    margin-top: 0;
    width: 200px;
    height: 150px;
  }
}

@media (min-width: 2555px) {
  .text-container {
    left: 12%;
  }
}
